.who-i-am-container {
  width: 90%;
  display: grid;
  grid-template-columns: 70% 30%;
  justify-content: center;
  align-self: center;
  height: calc(100% - 64px);
}

.who-i-am-sub-containers {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.who-i-am-description-container {
  width: 80%;
  margin: 20px 0;
  padding: 15px;
  transform: translateX(-100px);
  opacity: 0;
  background-color: var(--gray);
  animation: who-i-am-description-apparition .5s ease forwards;
}

@keyframes who-i-am-description-apparition {
  100% { transform: translateX(0px); opacity: 1; }
}

h2.who-i-am-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: var(--shine-violet);
}

p.who-i-am-description {
  color: white;
  margin: 10px 0;
}

.perfil-image {
  width: 300px;
  height: auto;
  border-radius: 50%;
  transform: scale(0);
  opacity: 0;
  border: 2px solid rgba(255, 255, 255, 0.773);
  animation: who-i-am-image-apparition .5s ease-out forwards;
}

@keyframes who-i-am-image-apparition {
  100% { transform: scale(1); opacity: 1; }
}

@media (max-width: 1000px) {
  .perfil-image {
      width: 200px;
      height: 200px;
      margin-left: 10px;
  }
}

@media (max-width: 600px) {
  .who-i-am-container {
      width: 100%;
      grid-template-columns: 1fr;
  }

  .who-i-am-sub-containers:nth-last-child(1) {
    order: -1;
  }

  .who-i-am-sub-containers:nth-last-child(2) {
    order: 1;
  }

  .perfil-image {
    width: 150px;
    height: auto;
    margin-top: 20px;
  }

  h2.who-i-am-title {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }

  p.who-i-am-description {
    font-size: .9rem;
    margin: 5px 0;
  }

  div.who-i-am-description-container {
    margin-bottom: 50px;
  }
}