.skill-container {
  padding-top: 2rem;
  padding-bottom: 8rem;
  width: 100%;
  background: linear-gradient(45deg, rgba(3, 5, 3, 0.866), rgba(0, 0, 0, 0.834)),
    url("../../images/background-technologies.webp");
  background-attachment: fixed;
  background-position: center;
}
