.home-container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(
      90deg,
      rgba(15, 5, 1, 0.534) 0%,
      rgba(0, 0, 0, 0.962) 70%
    ),
    url("./../../images/background-home.webp");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.title {
  color: var(--white);
  user-select: none;
}

.title {
  white-space: nowrap;
  width: 100%;
  width: 20ch;
  border-right: 5px solid var(--shine-gray);
  font-size: 4rem;
  overflow: hidden;
  animation: typing 2s steps(20) forwards,
    blink 0.5s infinite step-end alternate;
}

@keyframes typing {
  from {
    width: 0;
  }

  99% {
    overflow: hidden;
  }

  100% {
    overflow: visible;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.title-content {
  position: relative;
}

.title-content::after {
  position: absolute;
  content: "Full Stack Developer";
  top: 100%;
  left: 0;
  font-size: 1.5rem;
  font-weight: lighter;
  padding: 5px 10px;
  background-color: #076e07;
  opacity: 0;
  transform: translateX(-100px);
  animation: subtitle 3s ease forwards;
}

@keyframes subtitle {
  65% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.symbol {
  margin: 0 20px;
  color: var(--green);
}

@media screen and (max-width: 900px) {
  .title {
    font-size: 2rem;
    width: 22ch;
  }

  .title-content::after {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 500px) {
  .home-container {
    justify-content: center;
  }

  .title {
    font-size: 1.3rem;
    width: 20ch;
  }
  .title-content::after {
    font-size: 0.9rem;
  }

  .symbol {
    margin: 0 5px;
    color: var(--green);
  }
}
