a.link {
  margin-left: 15px;
}

a.link svg {
  fill: white;
  font-size: 2.5rem;
}

a.link svg:hover {
  fill: var(--light-violet);
}


@media (max-width: 340px) {
  h1.by-nitsuga {
    font-size: 1rem;
  }

  a.link svg {
    font-size: 1.7rem;
  }
}