div.card-container {
  width: 300px;
  height: 250px;
  position: relative;
  border-radius: 10px;
  box-shadow: 5px 7px rgb(0, 0, 0), 5px -7px rgb(26, 26, 26);
  overflow: hidden;
}

img.card-image {
  width: 300px;
  height: 250px;
  object-fit: cover;
}

div.card-content {
  padding-top: 15px;
  color: white;
  text-align: center;
  background-color: var(--light-violet-opacity);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  transform: scale(0);
  opacity: 0;
  overflow-y: auto;
  transition: all .3s ease;
}

div.card-content::-webkit-scrollbar {
  display: none;
  width: 2px;
  border-radius: 50px;
}

div.card-content:hover::-webkit-scrollbar {
  display: initial;
}

div.card-content::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.499);
  
}

div.card-content-active {
  opacity: 1;
  transform: scale(1);
}

h4.card-title {
  padding-bottom: 10px;
}

p.card-description {
  font-size: 19px;
  width: calc(100% - 20px);
  margin: 0 auto;
  padding-bottom: 25px;
}

a.link-go {
  color: var(--light-violet);
}

.arrow-up {
  position: absolute;
  font-size: 1.3rem;
  bottom: 5px;
  right: 5px;
}

@media (max-width: 500px) {
  img.card-image, div.card-container {
      width: 180px;
      height: 180px;
  }

    h4.card-title {
      font-size: 1.3rem;
      padding-bottom: 5px;
    }

    p.card-description {
      font-size: .8rem;
    }
}