:root {
  --light-violet: #ad74d3;
  --light-violet-opacity: #241131db;
  --violet: #52296a;
  --gray: #252525;
  --light-gray: #2f2937;
  --strong-violet: #19141a;
  --shine-gray: #7a797d;
  --shine-violet: #dcbfef;
}

.App {
  min-height: 100vh;
  display: flex;
}

.download-cv {
  position: fixed;
  width: 150px;
  height: 150px;
  bottom: 15px;
  right: 15px;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  background-color: var(--gray);
}
